html {
  background-color: #eee9de;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

div img {
  width: 100%;
}

p {
  font-weight: bold;
  display: inline-block;
  text-align: left;
}

div a {
  color: #333;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 1.5em;
  max-width: 20em;
  padding: .4em .5em .75em;
  background-color: #eee9de;
  border-radius: 10px;
  text-align: left;
}

a:hover {
  background-color: #666;
}
