html {
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

section {
  text-align: center;
}

div img {
  padding: 1em 2em;
  vertical-align: middle;
}

h2 {
  margin: 0;
  text-align: left;
}

p {
  font-weight: normal;
  display: inline-block;
  text-align: left;
  margin: 1.5rem 0;
}

div {
  display: inline-block;
  vertical-align: middle;
  max-width: inherit;
  min-width: inherit;
}

div a {
  color: #333;
  font-weight: normal;
  font-family: Lato, sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  max-width: 20em;
  padding: .4em .5em .75em;
  background-color: #eee9de;
  border-radius: 10px;
  text-align: left;
}

a:hover {
  background-color: #666;
}

.btn {
  border: 3px solid #000;
  text-align: left;
}

.box {
  display: inline-block;
  max-width: 25em;
  text-align: left;
}
